@font-face {
  font-family: 'Assistant';
  src: url('../public/fonts/Assistant-Bold.ttf') format('truetype'),
    url('../public/fonts/Assistant-ExtraBold.ttf') format('truetype'),
    url('../public/fonts/Assistant-ExtraLight.ttf') format('truetype'),
    url('../public/fonts/Assistant-Light.ttf') format('truetype'),
    url('../public/fonts/Assistant-Medium.ttf') format('truetype'),
    url('../public/fonts/Assistant-Regular.ttf') format('truetype'),
    url('../public/fonts/Assistant-SemiBold.ttf') format('truetype'),
  ;
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  height: 100vh;
}

p {
  margin: 0;
}

.layout {
  margin: 30px 0px;
  height: 80%;
}

.JC_SB {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2d2d2;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}


@media only screen and (max-width: 400px) {
  .JC_SB {
    gap: 10px;
  }
}